@import "../../scss/index.scss";

.home-banner {
    position: relative;
    height: 270px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    top: -60px;

}