@import "../../../scss/index.scss";

.songs-slider {
    margin: 50px 0;

    > h1 {
        margin-bottom: 20px;
        border-bottom: 1px solid $border-grey-light;
        padding-bottom: 10px;
    }

    &__list{
        .slick-prev {
            left: -35px;

        }
        .slick-next {
            right: -35px;
        }

        &-song {
            padding: 20px;
            text-align: center;
            margin-bottom: 50px;

            .imagen {
                width: 340px;
                height: 200px;
                padding: 40px;
                transition: 0.1s; 
                border-radius: 20px;
                background-size: cover;
                margin-bottom: 20px;

                &:hover  {
                    cursor: pointer;
                    i{
                        opacity: 1;
                    }
                    transform: scale(1.1);
                    background-size: cover;
                    z-index: 2;
                    box-shadow: 2px 2px 2px #000;
                }

            }

            h3 {
                font-size: 20px;

                background-color: white;
                border-radius: 20px;
                text-align: center;
       
            }
        }
    }
}